In [1]:
import rpy2
print(rpy2.__path__,'ver=',rpy2.__version__)
from rpy2.robjects import r
import matplotlib.pyplot as plt
import numpy as np

['/home/lang/Software/miniconda3/lib/python3.7/site-packages/rpy2'] ver= 2.9.4

The arithmetic mean is a least squares estimate of the expectation Î¼ of y.
The corresponding least squares estimator is unbiased.

In [13]:
r("y <- c(5,7,1,7,8,9,13,9,10,10,18,10,15,10,10,11,8,11,12,13,15,22,10,25,11)")
print(r("length(y)"),r("min(y)"),r("max(y)"),r("range(y)"),r("mean(y)"),r("median(y)"))

[1] 25
 [1] 1
 [1] 25
 [1]  1 25
 [1] 11.2
 [1] 10

In [12]:
r("sortedy <- sort(y)")

R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7fae20f44be0 / R:0x5589893a68d0>
[1.000000, 5.000000, 7.000000, 7.000000, ..., 15.000000, 18.000000, 22.000000, 25.000000]

In [15]:
r("summary(y)") #Min. 1st_Qu. Median Mean 3rd_Qu. Max.

R object with classes: ('summaryDefault', 'table') mapped to:
<FloatVector - Python:0x7fae20f76410 / R:0x558986c44598>
[1.000000, 9.000000, 10.000000, 11.200000, 13.000000, 25.000000]