In [56]:
import numpy as np
import astropy
print('astropy version: ',astropy.__version__)
from astropy.time import Time
from datetime import datetime

# https://docs.astropy.org/en/stable/time/

# About Julian Dates
# https://www.aavso.org/about-jd
# https://www.aavso.org/computing-jd

# Julian Date (JD) Calculator and Calendars
# https://www.aavso.org/jd-calculator

astropy version:  3.2.2

In [31]:
times = ['1993-01-01T12:00:00.00', '2000-01-01T12:00:00']
t = Time(times)
t.jd , t.mjd

(array([2448989., 2451545.]), array([48988.5, 51544.5]))

In [47]:
times = ['1994-01-01T00:00:00.00', '1995-01-01T00:00:00']
t = Time(times,scale='utc')
dt = t[1] - t[0]
dt

# Getting the Current Time

In [62]:
nt = Time.now()
ut = Time(datetime.utcnow(),scale='utc')
#nt1 = Time(nt,scale='ut1')
#nt1
nt, ut

(<Time object: scale='utc' format='datetime' value=2019-10-12 03:14:27.875008>,
 <Time object: scale='utc' format='datetime' value=2019-10-12 03:14:27.875570>)

In [66]:
nt.format='isot'
ut.format='isot'
nt,ut

(<Time object: scale='utc' format='isot' value=2019-10-12T03:14:27.875>,
 <Time object: scale='utc' format='isot' value=2019-10-12T03:14:27.876>)

In [73]:
nt.tt

In [69]:
nt

In [35]:
def met2utc_shao(myMET):
    UTC0 = Time('2001-01-01',format='iso',scale='utc')
    if isinstance(myMET,(list,tuple,np.ndarray)):
        myMETsize = len(myMET)
        utc_tt_diff = np.zeros(myMETsize)
        #from Fermi MET to UTC
        # 4 leap seconds after 2007:
        #'2008-12-31 23:59:60' MET=252460801.000000
        #'2012-06-30 23:59:60' MET=362793602.000000
        #'2015-06-30 23:59:60' MET=457401603.000000
        #'2016-12-31 23:59:60' MET=504921604.000000
        for i in range(myMETsize):
            if myMET[i] < 237693816.736: # valid data start at 2008-07-14 02:03:35.737'
                print('**** ERROR: One of the MET TIME (array) is not valid!!! ****')
            elif myMET[i] <= 252460801.000:
                utc_tt_diff[i] = 33.0
            elif myMET[i] <= 362793602.000:
                utc_tt_diff[i] = 34.0
            elif myMET[i] <= 457401603.000:
                utc_tt_diff[i] = 35.0
            elif myMET[i] <= 504921604.000:
                utc_tt_diff[i] = 36.0
            else:
                utc_tt_diff[i] = 37.0
        myTimeGPS = Time(np.array(myMET)+UTC0.gps-utc_tt_diff,format='gps')
        return myTimeGPS.iso
    elif np.isscalar(myMET):
        if myMET <= 237693816.736: # valid data start at 2008-07-14 02:03:35.737'
            print('**** ERROR: the scalar MET is not valid!!! ****')
        elif myMET <= 252460801.000:
            utc_tt_diff = 33.0
        elif myMET <= 362793602.000:
            utc_tt_diff = 34.0
        elif myMET <= 457401603.000:
            utc_tt_diff = 35.0
        elif myMET <= 504921604.000:
            utc_tt_diff = 36.0
        else:
            utc_tt_diff = 37.0
        myTimeGPS = Time(myMET+UTC0.gps-utc_tt_diff,format='gps')
        return myTimeGPS.iso
    else:
        print('Check your input format!')
        return None

In [36]:
met2utc_shao(237693816.736714) # correct

'2008-07-14 02:03:35.737'

In [38]:
met2utc_shao(237693853.053366)

'2008-07-14 02:04:12.053'

In [ ]:
# Time in Fermi Data Analysis
# https://fermi.gsfc.nasa.gov/ssc/data/analysis/documentation/Cicerone/Cicerone_Data/Time_in_ScienceTools.html
# https://heasarc.gsfc.nasa.gov/cgi-bin/Tools/xTime/xTime.pl