# Exploring a dataset with pandas and Matplotlib

In [2]:
from datetime import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

player = 'Roger Federer'
df = pd.read_csv('https://github.com/ipython-books/cookbook-2nd-data/blob/master/federer.csv?raw=true',
                 parse_dates=['start date'],dayfirst=True)
df.head(3)

,year,tournament,start date,type,surface,draw,atp points,atp ranking,tournament prize money,round,...,player2 2nd serve return points total,player2 break points converted won,player2 break points converted total,player2 return games played,player2 total service points won,player2 total service points total,player2 total return points won,player2 total return points total,player2 total points won,player2 total points total
0,1998,"Basel, Switzerland",1998-10-05,WS,Indoor: Hard,Draw: 32,1,396.0,"$9,800",R32,...,22.0,4.0,8.0,8.0,36.0,50.0,26.0,53.0,62.0,103.0
1,1998,"Toulouse, France",1998-09-28,WS,Indoor: Hard,Draw: 32,59,878.0,"$10,800",R32,...,19.0,0.0,1.0,8.0,33.0,65.0,8.0,41.0,41.0,106.0
2,1998,"Toulouse, France",1998-09-28,WS,Indoor: Hard,Draw: 32,59,878.0,"$10,800",R16,...,30.0,0.0,4.0,10.0,46.0,75.0,23.0,73.0,69.0,148.0

In [6]:
df['win'] = df['winner'] == player

In [8]:
df['win'].mean()

0.8244274809160306

In [16]:
df['dblfaults'] = (df['player1 double faults'] /
df['player1 total points total'])

In [9]:
date = df['start date']

In [14]:
df.groupby('year')['win'].mean()

year
1998    0.333333
1999    0.557692
2000    0.545455
2001    0.712329
2002    0.741176
2003    0.828283
2004    0.927711
2005    0.954023
2006    0.950495
2007    0.896552
2008    0.826087
2009    0.851852
2010    0.853933
2011    0.857143
2012    0.861702
Name: win, dtype: float64

In [20]:
gb = df.groupby('year')

In [25]:
gb

# A simple z-test