In [4]:
a = [1,'ab',3,4] #list 列表，清单

len(a)

4

In [5]:
a

[1, 'ab', 3, 4]

In [6]:
len([0])

1

In [7]:
len([])

0

In [11]:
x = [0]; []; [[1, 3, [4, 5], 6], 7]

[[1, 3, [4, 5], 6], 7]

In [9]:
len(x)

1

In [12]:
x

[0]

# List, tuple and set

列表，元组（常列表） 和 集合

In [13]:
x

[0]

In [24]:
x = [1,2,3]

In [25]:
x

[1, 2, 3]

In [15]:
type(x)

list

In [26]:
y = (0,1,'ab')

In [27]:
type(y)

tuple

In [28]:
z = {1,2,3}

In [23]:
z

{1, 2, 3}

In [29]:
type(z)

set

In [36]:
a,b = 1,2

In [37]:
(c,d) = (1,2)

In [38]:
a

1

In [39]:
c

1

# List indices

In [40]:
x = ["first", "second", "third", "fourth"]

In [41]:
len(x)

4

In [48]:
x[3]

'fourth'

In [50]:
x[-2]

'third'

In [51]:
x[2]

'third'

In [52]:
x = [23, "ab3", 223, 1, 3232, "3242434"]

x[-4]

223

# slicing 切片 
a[m:n] ===> a[m:n)

In [53]:
x[1:-1]

['ab3', 223, 1, 3232]

In [54]:
x[1:2]

['ab3']

In [56]:
x[:]

[23, 'ab3', 223, 1, 3232, '3242434']

In [57]:
x = [1, 2, 3, 4]

In [58]:
type(x)

list

In [59]:
a = x[1]

In [60]:
a

2

In [61]:
x[1] = "two"

In [62]:
x

[1, 'two', 3, 4]

In [64]:
x

[1, 'two', 3, 4]

In [65]:
x.append('53')

In [66]:
x

[1, 'two', 3, 4, '53']

In [72]:
y = [232, 1, 2, 9]

In [70]:
x.sort()

In [71]:
x

[1, 2, 9, 232]

In [73]:
sorted(y)

[1, 2, 9, 232]

In [74]:
y

[232, 1, 2, 9]

In [83]:
x = 10 not in [1, 3, 4, 5]

In [81]:
x

True

In [84]:
z = [1, 2, 3] + [4, 5]

In [85]:
z

[1, 2, 3, 4, 5]

In [86]:
a = "hello"
b= "world"

In [88]:
a+' '+b

'hello world'

In [89]:
z = [None] * 4

In [90]:
z

[None, None, None, None]

In [91]:
z = [1, 2, 3] + [4, 5]

In [92]:
z*4

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [93]:
x = [1, 3, "five", 7, -2]

In [95]:
x.index("five")

2

In [96]:
x = [1, 2, 2, 3, 5, 2, 5]

In [97]:
x.count(2)

3

In [98]:
y = (1, 2, 2, 3, 5, 2, 5)

In [99]:
x

[1, 2, 2, 3, 5, 2, 5]

In [100]:
y

(1, 2, 2, 3, 5, 2, 5)

In [101]:
x[0] = 'abc'

In [103]:
y[0] = 'cde'

TypeError: 'tuple' object does not support item assignment

In [105]:
[a,b,c,d] = [1,2,3,4]

In [110]:
a,b = b,a

In [113]:
a

3

In [111]:
b

2

In [114]:
x = (1, 2, 3, 4, 5, 6, 72)

In [116]:
a, b, *c = x

In [117]:
a

1

In [118]:
b

2

In [119]:
c

[3, 4, 5, 6, 72]

In [120]:
a = (1, 2, 3, 4)

In [121]:
b = list(a)

In [122]:
b

[1, 2, 3, 4]

In [123]:
x = set([1, 2, 3, 1, 3, 5])

In [124]:
x

{1, 2, 3, 5}

In [125]:
type(x)

set

In [126]:
x+y

{1, 2, 3, 5}

In [130]:
import numpy as np
np.__version__

'1.18.1'

In [139]:
a = (6)

In [140]:
type(a)

int

In [141]:
b = []

In [142]:
type(b)

list

In [147]:
c = {}

In [148]:
type(c)

dict

In [149]:
x = []

In [150]:
x[0] = "hello"

IndexError: list assignment index out of range

# 5.7.2 One-element tuples need a comma

A small syntactical point is associated with using tuples. Because the square brackets
used to enclose a list aren’t used elsewhere in Python, it’s clear that [] means an
empty list and that [1] means a list with one element. The same thing isn’t true of the
parentheses used to enclose tuples. Parentheses can also be used to group items in
expressions to force a certain evaluation order. If you say (x + y) in a Python program,
do you mean that x and y should be added and then put into a one-element
tuple, or do you mean that the parentheses should be used to force x and y to be
added before any expressions to either side come into play?

This situation is a problem only for tuples with one element, because tuples with
more than one element always include commas to separate the elements, and the
commas tell Python that the parentheses indicate a tuple, not a grouping. In the case
of one-element tuples, Python requires that the element in the tuple be followed by a
comma, to disambiguate the situation. In the case of zero-element (empty) tuples,
there’s no problem. An empty set of parentheses must be a tuple because it’s meaningless
otherwise:

In [1]:
a=(1,)

In [2]:
type(a)

tuple

In [3]:
b=(1)

In [4]:
type(b)

int